.counterButton{
    font-size: 18px;
    background-color: #03254f;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

.count {
    font-size: 150px;
    padding: 20px;
    border-width: 3px;
}